*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.body{
    width: 2000px;
    height: 5500px;
    overflow: hidden;
}

/* header */

header{
    width:1700px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

header ul{
    display: flex;
    list-style: none;
    position: relative;
    right: 20px;
}

header ul li{
    padding: 35px 20px;
    font-size: 20px;
}

.btn{
    width: 130px;
    height: 50px;
    background-color: #f87661;
    border-radius: 10px;
    color: white;
    position: relative;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* start */

.start{
    width: 1700px;
    height: 420px;
}

.big_small{
    display: flex;
    position: relative;
    left: 1200px;
    bottom: 150px;
}

.small{
    width: 195px;
    height: 310px;
    background-color: #f87661;
    border-radius: 100px;
}

.big{
    width: 280px;
    height: 446px;
    background-color: #f87661;
    border-radius: 200px;
    position: relative;
    left: 80px;
    bottom: 80px;
}

.start h1{
    font-size: 70px;
    width: 500px;
    position: relative;
    left: 200px;
    top: 100px;
}

.start p{
    font-size: 20px;
    width: 500px;
    position: relative;
    left: 200px;
    top: 100px;
}

.start .btn{
    position: relative;
    left: 200px;
    top: 110px;
}

/* our_testimoni */

.our_testimoni{
    width: 1280px;
    height: 200px;
    background-color: #f87661;
    border-radius: 10px;
    position: relative;
    left:300px;
    top: 100px;
}

.our{
    display: flex;
    padding: 70px 0;
    color: white;
    
}

.our p{
    font-size: 25px;
    padding-left: 70px;
}

.our h1{
    font-size: 35px;
    padding-top: 5px;
    padding-left: 70px;
}

.testimoni{
    position:relative;
    left: 900px;
    bottom: 250px;
    color: white;
}

.krug{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: white;
    position: relative;
    right: 150px;
    top: 80px;
}

.testimoni p{
    width: 400px;
    font-size: 20px;
}

/* services */

.services{
    padding-top: 200px;
}

.services h1{
    font-size: 60px;
    padding-left: 800px;
}

.p{
    font-size: 30px;
    width: 800px;
    padding-left: 600px;
}

.dog_ped{
    background-color: #FF9685;
    width: 485px;
    height: 265px;
    border-radius: 20px;
    position: relative;
    left: 400px;
    top: 100px;
}

.dog_ped h2{
    padding-left: 180px;
    font-size: 35px;
    position: relative;
    bottom: 20px;
}

.dog_ped p{
    padding-left: 180px;
    width: 300px;
    position: relative;
    bottom: 10px;
}

.visit{
    width: 100px;
    height: 100px;
    background-color: #CF6251;
    border-radius: 50px;
    position: relative;
    top: 70px;
    left: 20px;
}

.detal{
    width: 100px;
    height: 40px;
    background-color: #CF6251;
    position: relative;
    left: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.dog_ped2{
    background-color: #FF9685;
    width: 485px;
    height: 265px;
    border-radius: 20px;
    position: relative;
    left: 1000px;
    bottom: 165px;
}

.dog_ped2 h2{
    padding-left: 180px;
    font-size: 35px;
    position: relative;
    bottom: 20px;
}

.dog_ped2 p{
    padding-left: 180px;
    width: 300px;
    position: relative;
    bottom: 10px;
}

/* kitten */


.kitten p{
    position: relative;
    left: 550px;
    font-size: 30px;
    width: 800px;
}

.kitten h1{
    position: relative;
    left: 470px;
    font-size: 50px;
    padding-top: 30px;
}

.yellow{
    width: 160px;
    height: 120px;
    background-color: #FFCA0F;
    border-radius: 60px;
    position: relative;
    top: 150px;
    left: 200px;
}

.blue1{
    width: 120px;
    height: 120px;
    border: 2px solid #FFFFFF;
    background-color: #D9E4E2;
    border-radius: 60px;
    position: relative;
    left: 1500px;
    bottom: 150px;
}

.blue2{
    width: 120px;
    height: 120px;
    border: 5px solid #FFFFFF;
    background-color: #D9E4E2;
    border-radius: 70px;
    position: relative;
    left: 1570px;
    bottom: 275px;
}

/* about */

.about{
    width: 1280px;
    height: 540px;
    background-color: #D9E4E2;
    border-radius: 50px;
    position: relative;
    left: 300px;
}

.about h1{
    font-size: 60px;
    width: 300px;
    position: relative;
    left: 100px;
    top: 70px;
}

.about p{
    font-size: 25px;
    width: 600px;
    position: relative;
    left: 100px;
    top: 80px;
}

.one1{
    display: flex;
    position: relative;
    left: 100px;
    top: 100px;
}

.one2{
    display: flex;
    position: relative;
    left: 100px;
    top: 110px;
    padding-top: 10px;
}

.one3{
    display: flex;
    position: relative;
    left: 100px;
    top: 120px;
    padding-top: 10px;
}

.about_pink{
    width: 280px;
    height: 350px;
    background-color: #FF9685;
    border-radius: 200px;
    position: relative;
    left: 900px;
    bottom: 280px;
}

/* schedule */

.schedule{
    width: 1500px;
    height: 410px;
    background: linear-gradient(180deg, #5D9388 0%, #42766C 100%);
    position: relative;
    left: 200px;
    top: 200px;
    border-radius: 10px;
    color: white;
}

.schedule h1{
    font-size: 70px;
    width: 800px;
    position: relative;
    left: 200px;
    top: 80px;
}

.schedule p{
    font-size: 30px;
    width: 800px;
    position: relative;
    left: 200px;
    top: 100px;
}

.schedule .btn{
    position: relative;
    left: 200px;
    top: 120px;
}

/* article */

.article{
    position: relative;
    top: 400px;
}

.article h1{
    font-size: 60px;
    position: relative;
    left: 700px;
}

.article .p2{
    font-size: 30px;
    position: relative;
    left: 600px;
    width: 800px;
}

.toys {
    width: 336px;
    height: 260px;
    background-color: #D7BFB8;
    border-radius: 30px;
}

.dog_toys{
    position: relative;
    left: 300px;
    top: 100px;
}

.dog_toys h2{
    padding-top: 20px;
}

.dog_toys p{
    font-size: 20px;
}

.dog_toys2{
    position: relative;
    left: 800px;
    bottom: 280px;
}

.dog_toys2 h2{
    padding-top: 20px;
}

.dog_toys2 p{
    font-size: 20px;
}

.dog_toys3{
    position: relative;
    left: 1300px;
    bottom: 660px;
}

.dog_toys3 h2{
    padding-top: 20px;
}

.dog_toys3 p{
    font-size: 20px;
}

/* follow */

.follow h1{
    font-size: 60px;
    position: relative;
    left: 650px;
}

.follow h2{
    font-size: 60px;
    position: relative;
    left: 1000px;
    bottom: 70px;
    color: #f87661;
}

.follow1{
    width: 336px;
    height: 366px;
    background-color: #D9E4E2;
    border-radius: 40px;
    position: relative;
    left: 400px;
}

.follow2{
    width: 336px;
    height: 366px;
    background-color: #D9E4E2;
    border-radius: 40px;
    position: relative;
    left: 800px;
    bottom: 366px;
}

.follow3{
    width: 150px;
    height: 165px;
    background-color: #D9E4E2;
    border-radius: 30px;
    position: relative;
    left: 1200px;
    bottom:734px;
}

.follow4{
    width: 150px;
    height: 165px;
    background-color: #D9E4E2;
    border-radius: 30px;
    position: relative;
    left: 1400px;
    bottom:902px;
}

.follow5{
    width: 150px;
    height: 165px;
    background-color: #D9E4E2;
    border-radius: 30px;
    position: relative;
    left: 1200px;
    bottom:872px;
}

.follow6{
    width: 150px;
    height: 165px;
    background-color: #D9E4E2;
    border-radius: 30px;
    position: relative;
    left: 1400px;
    bottom:1040px;
}

/* footer */

footer{
    position: relative;
    bottom: 900px;
}

footer img{
    position: relative;
    left: 200px;
}

footer h1{
    font-size: 30px;
    position: relative;
    left: 700px;
    bottom: 70px;
}

footer h2{
    font-size: 30px;
    position: relative;
    left: 1000px;
    bottom: 104px;
}

footer h3{
    font-size: 30px;
    position: relative;
    left: 1300px;
    bottom: 139px;
}

.bellieve p{
    width: 300px;
    position: relative;
    left: 100px;
    bottom: 60px;
    font-size: 20px;
}

.bellieve img{
    padding: 30px 10px;
    position: relative;
    right: 200px;
    bottom: 50px;
}

.bellieve2 li{
    list-style: none;
    padding: 10px;
    position: relative;
    left: 700px;
    bottom: 220px;
    font-size: 20px;
}

.bellieve3 li{
    list-style: none;
    padding: 10px;
    position: relative;
    left: 1000px;
    bottom: 610px;
    font-size: 20px;
}

.bellieve4 p{
    position: relative;
    left: 1300px;
    bottom: 870px;
    font-size: 20px;
}

@media only screen and(max-width:600px){
    .body{
        background-color: white;
    }
}